<section class="about-area bg-ffffff ptb-100">
            <div class="container">
                <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="about-content">
                    <span>A propos</span>
                    <h3>Industrials Solutions and Services</h3>
                    <p>
                        Industials Solutions and Services SARL est une entreprise composée d'ingénieurs et techniciens supérieurs qui justifient d'une connaisssance et d'une parfaite maitrise des systèmes industrielles et domestiques qu'ils soient électriques, mécaniques, hydrauliques ou pneumatiques.

                        Nous proposons divers services dans des domaines d'activités variés et supervisés par des experts dans ces domaines, ce qui nous permet de vous donner des solutions personalisés en fonctions des besoins de nos clients.

                        Nous avons deja realises des travaux tel que la conception et la realisation d'une mini centrale hydroelectrique d'une puissance de 100kW dans la region du Nord-Ouest Cameroun. L'electricite ainsi produite alimente des equipements que nous avons egalement installes.

                        Notre management est basé sur les notions de qualité, de sécurité et de respect de l'environnement. Notre sens du relationnel et le respect des delais nous garantissent la durabilité des relations que nous entretenons avec tous nos clients.
                    </p>
                    <ul class="about-list">
                        <li>
                        <i class="las la-check"></i>
                        Dédié & professionnel
                        </li>
                        <li>
                        <i class="las la-check"></i>
                        Capable de faire ce qui nous plaît le plus
                        </li>
                        <li>
                        <i class="las la-check"></i>
                        Les obligations de l'entreprise tiennent.
                        </li>
                    </ul>
                    <div class="signature">
                        <h4>BON BETEA</h4>
                        <span>Calvin</span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-warp">
                    <img src="{{ asset('frontend/img/about/about.jpg') }}" alt="image" />
                    </div>
                </div>
                </div>
            </div>
    </section>