<section class="faq-area ptb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="faq-content">
              <span>FAQ’s</span>
              <h3>Questions Frequentes</h3>
              <p>
                
              </p>
            </div>
            <div class="faq-accordion">
              <ul class="accordion">
                <li class="accordion-item">
                  <a class="accordion-title active" href="javascript:void(0)">
                    <i class="las la-plus"></i>
                    Est-ce que je peux modifier ma frequence de payement pour mon systeme PV?
                  </a>
                  <p class="accordion-content show">
                    Biensur que OUI !! Bien vouloir nous contacter via l'un de nos contacts pour la mise au point.
                  </p>
                </li>
                <li class="accordion-item">
                  <a class="accordion-title" href="javascript:void(0)">
                    <i class="las la-plus"></i>
                    Pourrais-je beneficier de vos services alors que je suis dans une autre ville que Douala?
                  </a>
                  <p class="accordion-content">
                    Biensur que OUI !! Bien vouloir nous contacter via l'un de nos contacts pour nous specifier votre besoin, ainsi que votre localisation.
                  </p>
                </li>
                <li class="accordion-item">
                  <a class="accordion-title" href="javascript:void(0)">
                    <i class="las la-plus"></i>
                    Qui s'occupe des frais de déplacement lorsque vous devez effectuer un travail hors de la ville de Douala?
                  </a>
                  <p class="accordion-content">
                    Pour tout déplacement hors de la ville de douala, 
                    les frais de transports sont immediatement pris en charge par nous, mais seront inclus dans la facture finale qui vous sera remise.
                  </p>
                </li>

                <li class="accordion-item">
                  <a class="accordion-title" href="javascript:void(0)">
                    <i class="las la-plus"></i>
                    Pouvez vous m'installer une petite éolienne pour alimenter mon dicile?
                  </a>
                  <p class="accordion-content">
                    Biensur que OUI !! Mais ceci nécessite une étude préalable de votre zone de résidence. 
                    Bien vouloir nous contacter via l'un de nos contacts pour nous préciser votre localisation.

                  </p>
                </li>

                <li class="accordion-item">
                  <a class="accordion-title" href="javascript:void(0)">
                    <i class="las la-plus"></i>
                    Pouvez-vous terminer l'installation electrique de mon du duplex dans un delai d'un mois?
                  </a>
                  <p class="accordion-content">
                    Il faudrait deja savoir quelle est l'ampleur du travail à effectuer pour donner un delai de laivraison. 
                    Bien vouloir nous contacter via l'un de nos contacts pour nous préciser votre localisation afin que nous puissons évaluer le travail a effectuer.

                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-img">
              <img src="{{ asset('frontend/img/faq.png') }}"  style="background-position: center center; background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </section>
