<section class="team-area pt-100 pb-70">
      <div class="container">
        <div class="section-title">
          <span>Equipe Expert</span>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-team-box">
              <div class="image">
                <img src="{{ asset('frontend/img/teams/team1.jpg') }}" style="height:500px;width:500px;" alt="image" />
                <ul class="social">
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="content">
                <h3>BON BETEA Calvin Fortune</h3>
                <span>Technical Manager and Equipment</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-team-box">
              <div class="image">
                <img src="{{ asset('frontend/img/teams/team2.jpg') }}" alt="image" />
                <ul class="social">
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="content">
                <h3>NGWANO TAKWI Elvis</h3>
                <span>General Officer</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-team-box">
              <div class="image">
                <img src="{{ asset('frontend/img/teams/team3.jpg') }}" alt="image" />
                <ul class="social">
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <i class="lab la-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="content">
                <h3>BANG TITTI Paul Roland</h3>
                <span>Team Manager and Equipment</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>