<section class="testimonial-area bg-ffffff ptb-100">
      <div class="container">
        <div class="section-title">
          <span>Testimonials</span>
          <h2>Ce que dise les clients</h2>
        </div>
        <div class="testimonial-slider owl-carousel owl-theme">
          <div class="testimonial-item">
            <div class="info">
              <img />
              <h3>M. BAYANG Zachee</h3>
              <span>Electricien</span>
            </div>
            <div class="text">
              <p>
                 Travail impecable, sans bavures. Bravo!!
              </p>
            </div>
            <div class="icon">
              <i class="flaticon-right-quotes-symbol"></i>
            </div>
          </div>
          <div class="testimonial-item">
            <div class="info">
              <img />
              <h3>M. NSOLO Ricky</h3>
              <span>Electricien</span>
            </div>
            <div class="text">
              <p>
                Vraiment un grand merci pour l'installation electrique de ma maison.
              </p>
            </div>
            <div class="icon">
              <i class="flaticon-right-quotes-symbol"></i>
            </div>
          </div>
          <div class="testimonial-item">
            <div class="info">
              <img />
              <h3>M. OTITI Paul</h3>
              <span>Electricien</span>
            </div>
            <div class="text">
              <p>
                Le systeme concu pour l'irrigation de mes plantations fonctionne parfaitement.
              </p>
            </div>
            <div class="icon">
              <i class="flaticon-right-quotes-symbol"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
